<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="藏经切分校对">
  <title>藏经切分校对</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{ static_url('js/vendor/jquery.js') }}"></script>
  <script src="{{ static_url('js/vendor/jquery.cookie.min.js') }}"></script>

  <style>
    .thumbnail .img {
      min-height: 500px;
      max-height: 500px;
      text-align: center;
    }
    .thumbnail svg {
      margin: auto;
    }
  </style>
</head>

<body>

  <div id="top-nav" class="container-fluid navbar navbar-xs navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
      <a class="navbar-brand" style="padding-left: 0px;">切栏校对</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <button type="button" class="btn btn-sm btn-primary navbar-btn" id="save">全部保存</button>
        <button type="button" class="btn btn-sm btn-primary navbar-btn" id="submit">全部提交</button>
      </ul>
      {% include nav-right.html %}
    </div>
  </div>


  </div>

  <div id="body-content" style="padding-top: 80px;">
    <div class="rows container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{username + '提交的' if kind == 'me' else kinds[pos][kind]}} / {{pos_type}}校对页 ({{len(pages)}}/{{count}})
          </h3>
        </div>
      </div>

      {% for p in pages %}
      <div class="col-xs-4 col-md-3">
        <div class="thumbnail" id="{{p}}" style="margin-bottom: 5px;">
          <div class="img" id="holder-{{p}}"></div>
        </div>
        <div class="caption text-center" style="margin-bottom: 20px">
          <a href="/{{pos}}/{{kind}}/{{p[3:]}}" target="blank">{{p}}</a>
        </div>

      </div>
      {% end %}

    </div>

    <script src="{{ static_url('js/vendor/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="{{ static_url('js/vendor/raphael.js') }}"></script>
    <script src="{{ static_url('js/vendor/raphael.zoom.js') }}"></script>
    <script src="{{ static_url('js/vendor/jquery.mapkey.js') }}"></script>
    <script src="{{ static_url('js/cut.js') }}"></script>
    <script src="{{ static_url('js/cut_keys.js') }}"></script>

    <script>
      var pages = {};
      var curPage;

      function click() {
        curPage = $(this).attr('id');
        $.cut.switchPage(curPage, pages[curPage]);
        $('.thumbnail').unbind('click').click(click);
        $(this).unbind('click');
      }
      $('.thumbnail').click(click);

      {% for p, info in zip(pages, [get_info(p) for p in pages]) %}
      {% if info %}
      curPage = '{{p}}';
      pages[curPage] = $.extend({}, $.cut.create({
        blockMode: true,
        name: '{{pos}}_{{info["imgname"]}}',
        width: {{ info["imgsize"]['width'] }},
        height: {{ info["imgsize"]['height'] }},
        holder: 'holder-{{p}}',
        image: "{{static_url(get_icon(p))}}",
        chars: '{{info["blocks"] if pos=="block" else info["columns"]}}'
        }));
      $.cut.bindKeys();
      {% end %}
      {% end %}

      curPage = Object.keys(pages)[0];
      $.cut.switchPage(curPage, pages[curPage]);
      $(document).ready(function(){ window.scrollTo(0, 0); });

      function save(submit) {
        $.post('/{{pos}}/{{kind}}/all', {
          submit: submit,
          boxes: JSON.stringify(Object.keys(pages).map(function (name) {
            return [name, $.cut.exportBoxes(pages[name])];
          }))
        }, function (res) {
          if (/^error:/.test(res)) {
            swal('操作失败', res.replace(/^error:/, ''), 'error', { buttons: false, timer: 1500 });
          } else {
            swal('操作成功', submit ? '已提交成功。' : '已保存成功。', 'success',
              { buttons: false, timer: 1000 })
              .then(function () {
                if (/^jump:/.test(res)) {
                  location.reload();
                }
              });
          }
        });
      }
      $('#save').click(save.bind(null, false));
      $('#submit').click(save.bind(null, true));

    </script>

</body>

</html>