<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="藏经{{pos_type}}校对">
  <title>{{imgname}}</title>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>

<body>

<div id="top-nav" class="navbar navbar-xs navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/{{pos}}/{{kind}}">{{pos_type}}校对 <span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <button type="button" class="btn btn-default" id="hl-all">高亮<sup class="count"></sup></button>
      <div class="btn-group navbar-btn" role="group">
        <button type="button" class="btn btn-primary" id="save">保存</button>
        <button type="button" class="btn btn-primary" id="submit">提交</button>
      </div>
    </ul>
  </div>
</div>

<div id="body-content">
  <div id="holder"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>
<script src="{{ static_url('js/vendor/raphael.zoom.js') }}"></script>
<script src="{{ static_url('js/vendor/jquery.mapkey.js') }}"></script>
<script src="{{ static_url('js/cut.js') }}"></script>
<script src="{{ static_url('js/cut_keys.js') }}"></script>
<script src="{{ static_url('js/cut_adv.js') }}"></script>

<script>
  $.cut.create({
    blockMode: true,
    width: {{imgsize['width']}},
    height: {{imgsize['height']}},
    holder: 'holder',
    image: "{{static_url(get_img(imgname))}}",
    chars: '{{blocks if pos=="block" else columns}}'
  });

  $.cut.bindKeys();

  function showHighLightCount() {
    $('#hl-all').each(function(i, btn) {
      var type = btn.getAttribute('id').replace(/^.*-/, '');
        var boxes = $.cut.highlightBoxes(type, true);
        $(btn).find('.count').text(boxes.length);
    });
  }
  showHighLightCount();
  $.cut.onBoxChanged(showHighLightCount);
  $('#hl-all').click(function() {
    $.cut.switchHighlightBoxes('all');
  });

  function save(submit) {
    $.post('/{{pos}}/{{kind}}/{{imgname}}', {boxes: JSON.stringify($.cut.exportBoxes())}, function (res) {
      console.log(typeof res, res);
    });
  }
  $('#save').click(save.bind(null, false));
  $('#submit').click(save.bind(null, true));
</script>

</body>
</html>
