<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="藏经字切分校对">
  <title>{{imgname}}</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <style>
    #holder {
      text-align: center;
    }
    #holder svg {
      margin: auto;
    }
  </style>

</head>

<body>

<div id="top-nav" class="container-fluid navbar navbar-xs navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
    <a class="navbar-brand" href="/{{pos}}/{{kind}}" style="padding-left: 0px;">切字校对</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="nav navbar-nav">

      <div class="btn-group navbar-btn hl-btn" role="group" aria-label="高亮">
        <button type="button" class="btn btn-sm btn-default" id="hl-all">所有<sup class="count"></sup></button>
        <button type="button" class="btn btn-sm btn-default" id="hl-large">大框<sup class="count"></sup></button>
        <button type="button" class="btn btn-sm btn-default" id="hl-small">小框<sup class="count"></sup></button>
        <button type="button" class="btn btn-sm btn-default" id="hl-narrow">窄框<sup class="count"></sup></button>
        <button type="button" class="btn btn-sm btn-default" id="hl-flat">扁框<sup class="count"></sup></button>
        <button type="button" class="btn btn-sm btn-default" id="hl-overlap">重叠<sup class="count"></sup></button>
      </div>
      <div class="btn-group navbar-btn" role="group" aria-label="Undo">
        <button type="button" class="btn btn-sm btn-default" id="undo">撤销</button>
        <button type="button" class="btn btn-sm btn-default" id="redo">重做</button>
      </div>
      {% if not readonly %}
      <button type="button" class="btn btn-sm btn-primary navbar-btn" id="save">保存</button>
      <button type="button" class="btn btn-sm btn-primary navbar-btn" id="submit">提交</button>
      {% end %}
    </ul>
    {% include nav-right.html %}
  </div>
</div>

<div id="body-content">
  <div id="holder"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>
<script src="{{ static_url('js/vendor/raphael.zoom.js') }}"></script>
<script src="{{ static_url('js/vendor/jquery.mapkey.js') }}"></script>
<script src="{{ static_url('js/cut.js') }}"></script>
<script src="{{ static_url('js/cut_keys.js') }}"></script>
<script src="{{ static_url('js/cut_adv.js') }}"></script>

<script>
  $.cut.create({
    removeSmallBoxes: {{int(kind in ['JX'])}},
    name: 'char_{{imgname}}',
    width: {{imgsize['width']}},
    height: {{imgsize['height']}},
    holder: 'holder',
    image: "{{get_img(imgname)}}",
    chars: '{{chars}}'
  });

  $.cut.bindKeys();

  function updateUndo() {
    $('#undo').toggleClass('disabled', !$.cut.canUndo());
    $('#redo').toggleClass('disabled', !$.cut.canRedo());
  }
  $('#undo').click(function () {
    $.cut.undo();
    updateUndo();
  });
  $('#redo').click(function () {
    $.cut.redo();
    updateUndo();
  });
  updateUndo();

  function showHighLightCount() {
    $('.hl-btn > button').each(function(i, btn) {
      if (i > 0) {
        var type = btn.getAttribute('id').replace(/^.*-/, '');
        var boxes = $.cut.highlightBoxes(type, true);
        $(btn).find('.count').text(boxes.length);
      }
    });
  }
  showHighLightCount();
  $('.hl-btn > button').click(function() {
    var type = this.getAttribute('id').replace(/^.*-/, '');
    $.cut.switchHighlightBoxes(type);
  });

  $.cut.onBoxChanged(function (char, box, reason) {
    if (reason === 'removed' || reason === 'added' || reason === 'changed') {
      var type = $.cut.data.hlType;
      if (type) {
        $.cut.clearHighlight();
        $.cut.highlightBoxes(type, false, true);
      }
    }
    showHighLightCount();
    updateUndo();
  });

  function save(submit) {
    $.post('/{{pos}}/{{kind}}/{{imgname}}', {
      submit: submit,
      boxes: JSON.stringify($.cut.exportBoxes())
    }, function (res) {
      if (/^error:/.test(res)) {
        swal('操作失败', res.replace(/^error:/, ''), 'error', {buttons: false, timer: 1500});
      } else {
        swal('操作成功', '{{imgname}} ' + (submit ? '已提交成功。' : '已保存成功。'), 'success',
           {buttons: false, timer: 1000})
           .then(function () {
             if (/^jump:/.test(res)) {
               window.location.href = '/{{pos}}/{{kind}}/' + res.replace(/^jump:/, '');
             }
           });
      }
    });
  }
  $('#save').click(save.bind(null, false));
  $('#submit').click(save.bind(null, true));
</script>

</body>
</html>
