<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="藏经字切分校对">
  <title>page['imgname']</title>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>

<body>

<div id="top-nav" class="navbar navbar-xs navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="../char">字切分校对 <span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">高亮显示 <span class="caret"></span></a>
        <ul class="dropdown-menu hl-btn">
          <li><a href="#" id="hl-all">所有<sup class="count"></sup></a></li>
          <li><a href="#" id="hl-large">大框<sup class="count"></sup></a></li>
          <li><a href="#" id="hl-small">小框<sup class="count"></sup></a></li>
          <li><a href="#" id="hl-narrow">窄框<sup class="count"></sup></a></li>
          <li><a href="#" id="hl-flat">扁框<sup class="count"></sup></a></li>
          <li><a href="#" id="hl-overlap">重叠<sup class="count"></sup></a></li>
        </ul>
      </li>
      <li><a href="" id="save">保存</a></li>
    </ul>
  </div>
</div>

<div id="body-content">
  <div id="app">
    <div class="cut-area">
      <div id="holder"></div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>
<script src="{{ static_url('js/vendor/raphael.zoom.js') }}"></script>
<script src="{{ static_url('js/vendor/jquery.mapkey.js') }}"></script>
<script src="{{ static_url('js/cut.js') }}"></script>
<script src="{{ static_url('js/cut_keys.js') }}"></script>
<script src="{{ static_url('js/cut_adv.js') }}"></script>

<script>
  var HTML_DECODE = {
    '&lt;': '<',
    '&gt;': '>',
    '&amp;': '&',
    '&nbsp;': ' ',
    '&quot;': '"',
    '&copy;': '©'
  };
  function decodeHtml(s) {
    return s.replace(/&\w+;|&#(\d+);/g, function ($0, $1) {
      var c = HTML_DECODE[$0];
      if (c === undefined) {
        // Maybe is Entity Number
        if (!isNaN($1)) {
          c = String.fromCharCode(($1 === 160) ? 32 : $1);
        } else {
          // Not Entity Number
          c = $0;
        }
      }
      return c;
    });
  }

  $.cut.create({
    width: {{imgsize['width']}},
    height: {{imgsize['height']}},
    holder: 'holder',
    image: "{{static_url('img/' + page['imgname'] + '.jpg')}}",
    chars: JSON.parse(decodeHtml('{{chars}}'))
  });

  $.cut.bindKeys();

  function showHighLightCount() {
    $('.hl-btn > button').each(function(i, btn) {
      if (i > 0) {
        var type = btn.getAttribute('id').replace(/^.*-/, '');
        var boxes = $.cut.highlightBoxes(type, true);
        $(btn).find('.count').text(boxes.length);
      }
    });
  }
  showHighLightCount();
  $('.hl-btn a').click(function() {
    var type = this.getAttribute('id').replace(/^.*-/, '');
    $.cut.switchHighlightBoxes(type);
  });

  $('#save').click(function() {
    $.post('/{{page['imgname']}}', {blocks: JSON.stringify($.cut.exportBoxes())});
  });
</script>

</body>
</html>
