<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="藏经{{pos_type}}校对">
  <title>{{imgname}}</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet">
  <script src="{{ static_url('js/vendor/jquery.js') }}"></script>
  <script src="{{ static_url('js/vendor/jquery.cookie.min.js') }}"></script>
</head>

<body>

  <div id="top-nav" class="container-fluid navbar navbar-xs navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/{{pos}}/{{kind}}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        {{pos_type}}校对 </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <button type="button" class="btn btn-default" id="hl-all">高亮<sup class="count"></sup></button>
        <button type="button" class="btn btn-primary navbar-btn" id="save">保存</button>
        <button type="button" class="btn btn-primary navbar-btn" id="submit">提交</button>
      </ul>
      {% include nav-right.html %}
    </div>
  </div>

  <div id="body-content" style="margin-top: 65px">
    <div id="help" class="col-md-4" style="font-size:16px;">
      <p style="text-align:center">【说明】</p>
      <ul>
        <li>本次切列校对的是嘉兴藏的图文，从而为OCR引擎提供标注数据。</li>
        <li>工作目标是将一列图像和一列文字对应。</li>
        <li><span style="color:red">一、切列校对：</span>嘉兴藏的列与列之间有分隔线，按分隔线进行切分。</li>
        <li style="margin-left:20px">注意：如果某列中有大字和夹注小字，不必切开。如果某列中包含两列小字，也不必切开。</li>
        <li><span style="color:red">二、文字校对：</span>文本来自CBETA，有可能出现换行不对以及多余文字的错误。</li>
        <li style="margin-left:20px">1. 换行不对：此时按照图像调整文本换行。</li>
        <li style="margin-left:20px">2. 文字多余：删除多余文字。</li>
        <li style="margin-left:20px">注意：不需要逐字校对，只需要检查上述两种情况即可。</li>
      </ul>
    </div>

    <div id="holder" class="col-md-4"></div> 
    <div id="txt" class="col-md-4" style="font-size:18px;">
      <p style="text-align:center">【经文】</p>
      <textarea class="form-control" rows="15" style="font-size: 18px;">
        {{ txt }}
      </textarea>
    </div>
  </div>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script> -->
  <script src="{{ static_url('js/vendor/bootstrap.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
  <script src="{{ static_url('js/vendor/raphael.js') }}"></script>
  <script src="{{ static_url('js/vendor/raphael.zoom.js') }}"></script>
  <script src="{{ static_url('js/vendor/jquery.mapkey.js') }}"></script>
  <script src="{{ static_url('js/cut.js') }}"></script>
  <script src="{{ static_url('js/cut_keys.js') }}"></script>
  <script src="{{ static_url('js/cut_adv.js') }}"></script>


  <script>
    $.cut.create({
      blockMode: true,
      name: '{{pos}}_{{imgname}}',
      width: {{ imgsize['width'] }},
      height: {{ imgsize['height'] }},
      holder: 'holder',
      image: "{{get_img(imgname)}}",
      chars: '{{blocks if pos=="block" else columns}}'
    });

    $.cut.bindKeys();

    function showHighLightCount() {
      $('#hl-all').each(function (i, btn) {
        var type = btn.getAttribute('id').replace(/^.*-/, '');
        var boxes = $.cut.highlightBoxes(type, true);
        $(btn).find('.count').text(boxes.length);
      });
    }
    showHighLightCount();
    $.cut.onBoxChanged(showHighLightCount);
    $('#hl-all').click(function () {
      $.cut.switchHighlightBoxes('all');
    });

    function save(submit) {
      $.post('/{{pos}}/{{kind}}/{{imgname}}', {
        submit: submit,
        boxes: JSON.stringify($.cut.exportBoxes()),
        txt: $('#txt textarea').val()
      }, function (res) {
        if (/^error:/.test(res)) {
          swal('操作失败', res.replace(/^error:/, ''), 'error', { buttons: false, timer: 1500 });
        } else {
          swal('操作成功', '{{imgname}} ' + (submit ? '已提交成功。' : '已保存成功。'), 'success',
            { buttons: false, timer: 1000 })
            .then(function () {
              if (/^jump:/.test(res)) {
                window.location.href = '/{{pos}}/{{kind}}/' + res.replace(/^jump:/, '');
              }
            });
        }
      });
    }
    $('#save').click(save.bind(null, false));
    $('#submit').click(save.bind(null, true));
  </script>

</body>

</html>