<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="藏经切分校对">
  <title>藏经切分校对</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <style>
    .row img {
      max-height: 160px;
    }
  </style>
</head>

<body>

<div id="top-nav" class="container-fluid navbar navbar-xs navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">藏经切分校对</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">栏切分校对 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for k in kinds %}
          <li><a href="/block/{{k}}">{{k}}</a></li>
          {% end %}
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">字框切分校对 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for k in kinds %}
          <li><a href="/char/{{k}}">{{k}}</a></li>
          {% end %}
        </ul>
      </li>
    </ul>
    {% include nav-right.html %}
  </div>
</div>

<div id="body-content" style="padding-top: 80px;">
  <div class="row container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{'我提交的' if kind == 'me' else kind}}{{pos_type}}校对页 ({{len(pages)}}/{{count}})
        </h3>
      </div>
    </div>

    {% for p in pages %}
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <a href="/{{pos}}/{{p[:2]}}/{{p[3:]}}"><img src="{{static_url(get_icon(p))}}"></a>
        <div class="caption text-center">
          <p>{{p}}</p>
        </div>
      </div>
    </div>
    {% end %}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
