<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>文字校对</title>
  {% include _font.html %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <link href="{{ static_url('css/proof-base.css') }}" type="text/css" rel="stylesheet">
  <link href="{{ static_url('css/proofread.css') }}" type="text/css" rel="stylesheet">

</head>

<body>
  <div id="main">
    <div id="top-nav" class="container-fluid navbar navbar-xs navbar-normal navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
        <a class="navbar-brand" href="/{{pos}}/{{kind}}" style="padding-left: 0;color: #e4c3a8">{{pos_type}}校对</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if not readonly %}
          <button type="button" class="btn btn-normal navbar-btn" id="layout">重排</button>
          <button type="button" class="btn btn-normal navbar-btn" id="save">保存</button>
          <button type="button" class="btn btn-normal navbar-btn" id="submit">提交</button>
          {% end %}
        </ul>
      </div>
    </div>

    <div class="wrapper" style="padding-top: 50px">
      <div id="pfread" class="pfread">
        <div class="pfread-in">
          <div class="left fl">
            <div class="hd">
              <div class="btns" style="width:100%">
                <div class="fl">
                  <span><i title="缩小" class="btn-reduce"></i></span>
                  <span><i title="放大" class="btn-enlarge"></i></span>
                  <span><i title="显隐字框" class="btn-cut-show"></i></span>
                  <span><i title="显隐序号" class="btn-num-show"></i></span>
                  <span><i title="显隐文本" class="btn-txt-hidden"></i></span>
                  <span><i title="全屏校对字框" class="btn-fullscrean btn-full-chars"></i></span>
                  <span><i title="全屏校对列框" class="btn-fullscrean btn-full-columns"></i></span>
                  <button type="button" class="btn btn-default btn-sm" style="margin-left: 10px;" id="undo">撤销</button>
                  <button type="button" class="btn btn-default btn-sm" id="redo">重做</button>
                </div>
                <div class="fr">
                  <span style="font-size: 14px; color: #777;" id="char-id"></span>
                  <input id="order" class="form-control input-sm" placeholder="序号"
                         style="width: 50px; margin: 8px 8px 0 0; display: inline-block" maxlength="2">
                </div>
              </div>
            </div>
            <div class="bd" id="canvas-bd">
              <div class="bd-in">
                <div id="canvas-pane">
                </div>
              </div>
            </div>
          </div>
          <div class="right fr">
            <div class="hd">
              <div class="btns">
                <div class="fl">
                  <!-- <span><i title="上一条异文" class="btn-previous"></i></span> -->
                  <!-- <span style="width: 45px;"><em title="异文" class="not-same-info" id="not-same-info">0 / 0</em></span> -->
                  <!-- <span><i title="下一条异文" class="btn-next"></i></span> -->
                  <!-- <span><i title="显隐空位符" class="btn-emptyplaces-show" id="emptyplaces"></i></span> -->
                  <!-- <span><i title="显隐异体字" class="btn-variants-normal" id="variants"></i></span> -->
                  <span><i title="删除该行" class="btn-deleteline" style="width: 50px"></i></span>
                  <span><i title="向上增行" class="btn-addupline"></i></span>
                  <span><i title="向下增行" class="btn-adddownline"></i></span>
                  <!-- <span><i title="存疑" class="btn-doubts"></i></span> -->
                  <span><i title="图文匹配检查" class="btn-check"></i></span>
                </div>
                <div class="fr">
                  <!-- <span><i title="退回任务" class="btn-returnback"></i></span> -->
                  <!-- <span><i title="完成" class="btn-ok"></i></span> -->
                  <span><i title="原文" class="btn-doubts"></i></span>
                  <span><i title="帮助" class="btn-help"></i></span>
                </div>
              </div>
            </div>
            <div class="bd">
              <div class="sutra-text" id="sutra-text">
              </div>
              <div class="pfread-dialog dialog-common" id="pfread-dialog" style="display:none">
                <div class="dlg-before"></div>
                <dl class="item">
                  <dt>OCR</dt>
                  <dd class="text" id="pfread-dialog-ocr">&nbsp;</dd>
                </dl>
                <dl class="item">
                  <dt>比对本</dt>
                  <dd class="text" id="pfread-dialog-cmp">&nbsp;</dd>
                </dl>
                <dl class="item">
                  <dt>选择结果</dt>
                  <dd class="text"><span id="pfread-dialog-slct" type="text" placeholder="请选择或输入……" contenteditable="true"></span></dd>
                </dl>
                <div class="dlg-after"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body" style="padding: 0;">
    <!-- modal content -->
    <div id="cutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cutModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width: 1050px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: blue">×</button>
            <h4 class="modal-title" id="cutModalLabel">字框校对</h4>
            <button type="button" class="btn btn-primary pull-right" style="margin-right: 30px; margin-top:-30px;">保存</button>
            <button type="button" class="btn btn-default pull-right" style="margin-right: 15px; margin-top:-30px;" id="redo">重做</button>
            <button type="button" class="btn btn-default pull-right" style="margin-right: 5px; margin-top:-30px;" id="undo">撤销</button>
          </div>
          <div class="modal-body">
            <div id="cut-canvas-bd" style="width: 1020px; height: calc(100% - 150px); overflow: auto">
              <div id="cut-canvas" style="width: 1000px; height: calc(100% - 150px);"></div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>

  <div class="panel-body" style="padding: 0;">
    <!-- modal content -->
    <div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: blue">×</button>
            <h4 class="modal-title" id="txtModalLabel">原文
              <button class="btn btn-default" style="margin-left: 10px" id="save-txt">保存</button>
            </h4>
          </div>
          <div class="modal-body">
            <textarea style="width: 100%; font-size: 1.2em; border: none; margin-bottom: 10px" rows="26">
              {{'\n'.join(origin_txt)}}
            </textarea>
            <p><b>说明</b>：用两个空行作栏分隔符</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>

  <script src="{{ static_url('js/vendor/raphael.zoom.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('js/vendor/jquery.mapkey.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('js/cut.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('js/proof_keys.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('js/cut_keys.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('js/proofread.js') }}" type="text/javascript"></script>

  <script>
    var char_data = $.cut.decodeJSON('{{chars}}');
    var cmpdata = $.cut.decodeJSON('{{txt}}');
    var columns = $.cut.decodeJSON('{{columns}}');
    var blocks = $.cut.decodeJSON('{{blocks}}');

    function createPage() {
      $.cut.create({
        readonly: true,
        scrollContainer: '#canvas-bd',
        name: '{{imgname}}',
        width: {{imgsize['width']}},
        height: {{imgsize['height']}},
        holder: 'canvas-pane',
        image: '{{get_img(imgname)}}',
        chars: char_data
      });
      $.cut.bindMatchingKeys();
      $.cut.toggleBox(false);
      $.cut.switchCurrentBox(null);
      updateUndo();
    }
    createPage();

    $('.btn-full-chars').click(function () {
      var $modal = $('#cutModal');
      var bindings = $.fn.mapKey.bindings;

      char_data = $.cut.exportBoxes();
      $modal.modal().on('hidden.bs.modal', function () {
        $.fn.mapKey.bindings = bindings;
        createPage();
        showAllBoxes();
        highlightBox();
      });
      $modal.find('#cutModalLabel').text('字框校对');

      $.cut.create({
        name: '{{imgname}}-',
        width: {{imgsize['width']}},
        height: {{imgsize['height']}},
        scrollContainer: '#cut-canvas-bd',
        holder: 'cut-canvas',
        image: '{{get_img(imgname)}}',
        chars: char_data
      });

      $.fn.mapKey.bindings = {
        up: {},
        down: {}
      };
      $.cut.bindKeys();
      updateUndo();

      $modal.find('button.btn-primary').unbind('click').click(function () {
        char_data = $.cut.exportBoxes();
        $modal.find('[data-dismiss="modal"]').click();
      });
    });

    $('.btn-full-columns').click(function () {
      var $modal = $('#cutModal');
      var bindings = $.fn.mapKey.bindings;

      $modal.modal().on('hidden.bs.modal', function () {
        $.fn.mapKey.bindings = bindings;
        createPage();
      });
      $modal.find('#cutModalLabel').text('列框校对');

      $.cut.create({
        columnMode: true,
        name: '{{imgname}}-c',
        width: {{imgsize['width']}},
        height: {{imgsize['height']}},
        scrollContainer: '#cut-canvas-bd',
        holder: 'cut-canvas',
        image: '{{get_img(imgname)}}',
        chars: columns
      });

      $.fn.mapKey.bindings = {
        up: {},
        down: {}
      };
      $.cut.bindKeys();
      updateUndo();

      $modal.find('button.btn-primary').unbind('click').click(function () {
        $.post('/{{pos}}/{{kind}}/{{imgname}}', {
          is_column: true,
          boxes: JSON.stringify($.cut.exportBoxes())
        }, function (res) {
          if (/^error:/.test(res)) {
            swal('操作失败', res.replace(/^error:/, ''), 'error', {buttons: false, timer: 1500});
          } else {
            swal('栏框更新成功', '{{imgname}} ' + '的栏框已更新成功。', 'success',
               {buttons: false, timer: 1000})
               .then(function () {
                 window.location = '/{{pos}}/{{kind}}/{{imgname}}?layout=1&v=' + Math.ceil(Math.random() * 1000);
               });
          }
        });
      });
    });

    function updateUndo() {
      $('#undo').toggleClass('disabled', !$.cut.canUndo());
      $('#redo').toggleClass('disabled', !$.cut.canRedo());
    }
    $('#undo').click(function () {
      $.cut.undo();
      updateUndo();
    });
    $('#redo').click(function () {
      $.cut.redo();
      updateUndo();
    });
    $.cut.onBoxChanged(function () {
      updateUndo();
      $('#char-id').text($.cut.getCurrentCharID() || '');
    });

    function save(submit, ended) {
      var txt = $('#sutra-text').find('.block').map(function (i, block) {
        return $(block).find('.line').map(function (line, el) {
          return $(el).text();
        }).get().join('\n');
      }).get().join('\n\n\n');
      $.post('/{{pos}}/{{kind}}/{{imgname}}', {
        submit: submit,
        txt: JSON.stringify(txt),
        boxes: JSON.stringify($.cut.exportBoxes())
      }, function (res) {
        if (/^error:/.test(res)) {
          swal('操作失败', res.replace(/^error:/, ''), 'error', {buttons: false, timer: 1500});
        } else {
          swal('操作成功', '{{imgname}} ' + (submit === 'rollback' ? '已退回任务' : submit ? '已提交成功。' : '已保存成功。'), 'success',
              {buttons: false, timer: 1000})
              .then(function () {
                if (submit === 'rollback') {
                  window.history.go(-1);
                }
                else if (/^jump:/.test(res)) {
                  window.location.href = '/{{pos}}/{{kind}}/' + res.replace(/^jump:/, '');
                }
                else if (typeof ended === 'function') {
                  ended();
                }
                else {
                  window.location = '/{{pos}}/{{kind}}/{{imgname}}';
                }
              });
        }
      });
    }
    $('#save').click(save.bind(null, false));
    $('#submit').click(save.bind(null, true));
    $('.btn-returnback').click(save.bind(null, 'rollback'));
    $('#layout').click(function () {
      save(false, function () {
        window.location = '/{{pos}}/{{kind}}/{{imgname}}?layout=1&v=' + Math.ceil(Math.random() * 1000);
      });
    });

    {% if zero_char_id %}
    swal('有{{len(zero_char_id)}}个异常编号的字框', '请检查修正已标红的字框：{{", ".join(zero_char_id)}}', 'warning', {buttons: false, timer: 2000});
    {% end %}

    $('.btn-doubts').click(function () {
      $('#txtModal').modal();
    });
    $('#save-txt').click(function () {
      var txt = $('#txtModal .modal-body > textarea').val().replace(/-/g, '');
      $.post('/{{pos}}/{{kind}}/{{imgname}}', {
        txt: JSON.stringify(txt),
        boxes: JSON.stringify($.cut.exportBoxes())
      }, function (res) {
        if (/^error:/.test(res)) {
          swal('操作失败', res.replace(/^error:/, ''), 'error', {buttons: false, timer: 1500});
        } else {
          window.location.reload();
        }
      });
    });
  </script>
</body>

</html>